<html>
    <head>
        <title>AnimesFiles</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Un blog sobre lo que mas te gusta del Anime</a></h1>
        </div>

        
        
        {% for post in posts %}
            <div>
                <p> publicado: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

        <div>
            <h3><a href=""></a>Boku dake ga inai machi</a></h3>
            <p>Para todos aquellos que gustan de las tramas un poco complejas e inesperadas este anime 
                les vendrá como anillo al dedo, y es que Boku dake ga ina machi nos presenta la historia
                de un chico de 29 años llamado Satoru quien por motivos un tanto extraños es catapultado 
                unos minutos al pasado, y no solo lo puede ver también lo puede cambiar.</p>
        </div>
    </body>
</html>